@page "/speedgame"
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client;
@using Speed.Shared.Models;
@using Speed.Shared.Models.Enums
@using System
@using System.Collections
@using System.Text



<PageTitle>Speed!</PageTitle>

<h3>Speed</h3>


@if (!isConnected) {
    <div class="input-group">
        <input @bind="username" class="form-control" placeholder="What's your name?">
        <button class="btn btn-primary form-control-append" @onclick="ConnectToHub">
            Connect!
        </button>

    </div>


} else {
    
    @*<textarea style="width: 75%; height: 300px;">
        @messages
    </textarea>

    <div class="input-group">
        <input @bind-value="userMessage" @bind-value:event="oninput" class="form-control">
        <button class="btn btn-primary form-group-append" @onclick="Send" disabled="@(!isConnected)"> Send!</button>
        
    </div>

    <br />
    <br />*@



    //<button class="btn btn-primary form-group-append" @onclick="createdeck"> Deck!</button>
        @*Top Player Area*@
        <div class="text-center">
            <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.addCards(gameEngine.P2Draw, gameEngine.P2Hand)" class="m-5"/>
            @*@gameEngine.P2Draw.First().ToString()*@

            @foreach(Card card in gameEngine.P2Hand)
            {
                <img src="@card.ToString()" class="m-1" width=7% height=auto style="box-shadow:@card.highlight" @onclick="() => gameEngine.GameService.onHandClick(gameEngine.P2Hand, card, p2)"/>
            }
            <br />
        </div>
            
        @*Play Area*@
        <div class="text-center">
            <span style="color:green; display:@gameEngine.GameService.p1Ready">Player 1 Ready</span>
            <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.moveMiddle(gameEngine.Mid1Draw, gameEngine.Mid2Draw, gameEngine.Mid1Discard, gameEngine.Mid2Discard, p1)" class="m-5"/>
            @if(gameEngine.Mid1Discard.Count == 0)
            {
                <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.onPlay(gameEngine.Mid1Discard)"/>
            }
            else
            {
                <img src="@gameEngine.Mid1Discard.Last().ToString()" width=7% height=auto @onclick="() => gameEngine.GameService.onPlay(gameEngine.Mid1Discard)"/>
            }
            @if(gameEngine.Mid2Discard.Count == 0)
            {
                <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.onPlay(gameEngine.Mid2Discard)"/>
            }
            else
            {
                <img src="@gameEngine.Mid2Discard.Last().ToString()" width=7% height=auto @onclick="() => gameEngine.GameService.onPlay(gameEngine.Mid2Discard)"/>
            }
            <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.moveMiddle(gameEngine.Mid1Draw, gameEngine.Mid2Draw, gameEngine.Mid1Discard, gameEngine.Mid2Discard, p2)" class="m-5"/>
            <span style="color:green; display:@gameEngine.GameService.p2Ready">Player 2 Ready</span>
            <br />
        </div>   
        @*Bottom Player Area*@
        <div class='text-center'>
            @foreach(Card card in gameEngine.P1Hand)
            {
                <img src="@card.ToString()" class="m-1" width=7% height=auto style="box-shadow:@card.highlight" @onclick="() => gameEngine.GameService.onHandClick(gameEngine.P1Hand, card, p1)"/>
            }

            @*@gameEngine.P1Draw.First().ToString()*@
            <img src="card_back.png" width=7% height=auto @onclick="() => gameEngine.GameService.addCards(gameEngine.P1Draw, gameEngine.P1Hand)" class="m-5"/>
        </div>
        <div>
            <span style="display:@gameEngine.GameService.p1Won">Player 1 Won!</span>
            <span style="display:@gameEngine.GameService.p2Won">Player 2 Won!</span>
        </div>

}

@code {

    private HubConnection? hubConnection;
    private string username = string.Empty;
    private string messages = string.Empty;
    private string userMessage = string.Empty;
    private string highlight = "0px 12px 22px 1px #333;";
    private Card selectedCard;
    private List<Card> selectedSide;
    private String p1 = "one";
    private String p2 = "two";
    private GameEngine gameEngine = new GameEngine();    // The brains of the operation


    private string currentCard = "card_back.png";
    private string _hubUrl = string.Empty;



    private async Task ConnectToHub() {

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/gamehub")).Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) => {
            var msg = $"{(string.IsNullOrEmpty(user) ? "" : user + ": ")} {message}";
            messages += msg + "\n";
            Console.Write(messages);

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send() {
        if (hubConnection != null) {
            await hubConnection.SendAsync("SendMessage", username, userMessage);
            Console.WriteLine(userMessage);
            userMessage = string.Empty;
        }
    }

    public bool isConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync() {
        if (hubConnection != null) {
            await hubConnection.DisposeAsync();
        }
    }
    public async void StartGame()
    {
        //nothing yet
    }
    public void resetMiddle()
    {
        //move cards from middle discard to middle draw
    }

}
